<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">Hello Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Discover</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="text-center m-3">
        <p class="display-4 p-4">About Us</p>
        <div class="container border border-1"></div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5">
                <p class="fs-5">About ourwebsite, our website are these and that.
                    we can do some of the stuffs listed on the features menu. We are blabla
                    and bla for this sort of I don't know.
                </p>
            </div>
            <div class="col-lg-5">
                <p class="fs-5">We are these and that, we can do this and that. Ask us
                    the things that you want to know at idontknow@helloweb.com
                </p>
            </div>
            <div class="col-lg-5">
                <p class="fs-5">We do some sort of this to, if you have something to talk about our business,
                    go to our office at Ormoc city and find Prince Karlo because he know too. hahaha
                </p>
            </div>
            <div class="col-lg-5">
                <p class="fs-5">We can also satisfy you with this and that.
                    Here you can also  do this and that.
                </p>
            </div>
        </div>
    </div>
    <div class="border border-1">
        <footer class="p-4">
            <div class="row container p-3">
                <ul class="list-inline">
                    <li class="list-inline-item">&copyHelloWeb, Inc.</li>
                    <li class="list-inline-item">
                        <a class="text-decoration-none" href="">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-decoration-none" href="">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-decoration-none" href="">Help</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>