<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">Hello Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="discover.html">Discover</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid navbar">
        <p class="display-5 text-center">Genre</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <ul class="nav mb-2 mb-lg-0 justify-content-center border border-1" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="actions-tab" data-bs-toggle="tab" href="#actions" role="tab" aria-controls="actions" aria-selected="true">Actions</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="adventures-tab" data-bs-toggle="tab" href="#adventures" role="tab" aria-controls="adventures" aria-selected="true">Adventures</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="fantasy-tab" data-bs-toggle="tab" href="#fantasy" role="tab" aria-controls="fantasy" aria-selected="true">Fantasy</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="romance-tab" data-bs-toggle="tab" href="#romance" role="tab" aria-controls="romance" aria-selected="true">Romance</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="sliceoflife-tab" data-bs-toggle="tab" href="#sliceoflife" role="tab" aria-controls="sliceoflife" aria-selected="true">Slice of Life</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="isekai-tab" data-bs-toggle="tab" href="#isekai" role="tab" aria-controls="isekai" aria-selected="true">Isekai</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="horror-tab" data-bs-toggle="tab" href="#horror" role="tab" aria-controls="horror" aria-selected="true">Horror</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="tab-content border m-2 p-2" id="myTabContent">
            <div class="tab-pane fade show active" id="actions" role="tabpanel" area-labelledby="actions-tab">Actions</div>
            <div class="tab-pane fade" id="adventures" role="tabpanel" area-labelledby="adventures-tab">Adventures</div>
            <div class="tab-pane fade" id="fantasy" role="tabpanel" area-labelledby="fantasy-tab">Fantasy</div>
            <div class="tab-pane fade" id="romance" role="tabpanel" area-labelledby="romance-tab">Romance</div>
            <div class="tab-pane fade" id="sliceoflife" role="tabpanel" area-labelledby="sliceoflife-tab">Slice of Life</div>
            <div class="tab-pane fade" id="isekai" role="tabpanel" area-labelledby="isekai-tab">Isekai</div>
            <div class="tab-pane fade" id="horror" role="tabpanel" area-labelledby="horror-tab">Horror</div>
        </div>
    </div>
    <div class="border border-1">
        <footer class="p-4">
            <div class="row container p-3">
                <ul class="list-inline">
                    <li class="list-inline-item">&copyHelloWeb, Inc.</li>
                    <li class="list-inline-item">
                        <a class="text-decoration-none" href="">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-decoration-none" href="">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-decoration-none" href="">Help</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>