<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">Hello Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="discover.html">Discover</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <p class="fs-5 fw-normal mt-3">Recommendations: </p>
    </div>
    <div class="container"></div>
    <div class="container-fluid">
        <div class="row d-flex justify-content-md-center">
            <div class="col-lg-5">
                <div class="card" style="width: 18rem;">
                    <img src="..." alt="..." class="card-img-top">
                </div>
            </div>
        </div>
    </div>
    <div class="container border border-1"></div>
    <div class="border border-1">
        <footer class="p-4">
            <div class="row container p-3">
                <ul class="list-inline">
                    <li class="list-inline-item">&copyHelloWeb, Inc.</li>
                    <li class="list-inline-item">
                        <a class="text-decoration-none" href="">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-decoration-none" href="">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-decoration-none" href="">Help</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>